.SA{
    width: 200px;
    height: 200px;
    color:#fffafa;
}

.fungera{
    position: relative;
}

.logga{
    position: absolute;
    top: 50px;
    right: 60px;
    width: 90%;
    height: 70%;
    
}

.w3-bar{
    font-family: "Times New Roman", Georgia, Serif;
    letter-spacing:4px;
}
.w3-display-container_w3-content_w3-wide{
    max-width:1600px;
    min-width:500px
}
.w3-image{
    min-width:1600px;
    height:760px;
    margin-left: -210px;
}
.w3-content{
    max-width:1100px
}
.w3-round_w3-image_w3-opacity-min{
    width:600px;
    height:750px;
}
.w3-round_w3-image_w3-opacity-mi{
    width:120%;
    height:120%;
    margin-left: 120px;
    margin-top:102px;
    border-radius: 5%;
}

.avsnittRuta{
    width: 625px;
    height: 180px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
}

.w3-text-grey{
    margin-left: 10px;
    width: 500px;
}
.avsnittText{
    margin-left:10px;
}

.w3-xxlarge{
    margin-left: 435px;
    color: #fffafa;
    font-family: "Playfair Display";
    letter-spacing: 5px;
    text-shadow: -10px 10px 5px black;
    
}

.oss{
    width: 200px;
    display: flex;
    flex-direction: row;
}

.oss2{
    width: 200px;
    display: flex;
    flex-direction: row;
}

.Andreas{
    width: 100%;
    border-style: solid;
    border-radius: 10%;
    border-width: 5px;
    
}
.Eskil{
    width: 100%;
    border-style: solid;
    border-radius: 10%;
    border-width: 5px;
    
}
.Leo{
    width: 100%;
    border-style: solid;
    border-radius: 10%;
    border-width: 5px;
    
}
.Lucas{
    width: 100%;
    border-style: solid;
    border-radius: 10%;
    border-width: 5px;
    
}